pytest~=8.4.1
aiohttp~=3.13.5
requests~=2.32.4
ezMM~=0.5.1
Telethon~=1.40.0
PyYAML~=6.0.1
tweepy~=4.16.0
markdownify~=1.1.0
tqdm~=4.66.3
pytest-asyncio
async_lru
oauthlib
platformdirs~=4.3.8
atproto
TikTokResearchApi~=1.0.4
yt-dlp[default,curl-cffi]
curl_cffi~=0.14.0b5  # yt-dlp doesn't support 0.15+ yet
cryptography
firecrawl-py~=4.10.4
brotli  # Required to read brotli-encoded media
playwright
playwright-stealth
beautifulsoup4
pip-system-certs  # For better SSL certificate handling
backports.zstd  # For better content parsing with Firecrawl
prompt_toolkit  # For handling user terminal input
